.flex-container {
    border: solid black 1px;
    background-color: #6D7B8D;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#adminMenuBTN {
    height: 30px;
    width: 380px;
    border-radius: 7px;
    color: #007BFF;
    background-color: black;
}

.adminCoverUpdateCarDiv {
    border: solid black 1px;
    width: 100%;
    height: 640px;
    background-image: url(../../../assets/imgonline-com-ua-resize-vkWVRMwkLM7AOIZ.jpg);
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-size: cover;
}

.updateCarFormContentDiv {
    position: relative;
    width: 100%;
    height: 635px;
    border-radius: 5px;
    background-color: #EAEAEA;
    box-shadow: 5px 5px;
    opacity: 0.95;
}

.btn-flex-container-update-car-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    top: 605px;
    border: black solid 1xp;
}
.btn-flex-container-update-car-form>button {
    height: 30px;
    width: 100%;
    border-radius: 7px;
    color: #007BFF;
    background-color: black;
}

.UpdateCar {
    margin: 0px auto;
    position: absolute;
    left: 500px;
    border: black solid 1px;
    width: 600px;
    height: 96%;
    border-radius: 10px;
    background-color: #EAEAEA;
    box-shadow: 5px 5px;
    display: block;
    text-align: center;
    border-spacing: 0 0px;
}
input, select {
    border-radius: 4px;
    box-shadow: 2px 2px;
    width: 220px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 5px;
    font-size: 14px;
}
::placeholder {
    font-size: 13px;
    font-style: italic;
}
.LBL-positioning {
    position: relative;
    right: 260px;
}
.LBL-Current-Kilometrage-positioning {
    position: relative;
    right: 235px;
}
.spacerCarDiv {
    height: 50px;
}
#inputFirstName, #inputLastName, #inputUserID, #inputUserName {
    width: 67%;
}
#inputUserName {
    width: 95%;
}
.spacerOrderDiv {
    height: 15px;
}
#inputStartDate, #inputEndDate, #inputActualReturnDate {
    height: 60px;
}
.form-group>input, select {
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 30px;
}
.inputsdobandgenderDiv {
    width: 96.5%;
    height: 60px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}
.inputsDateOfBirthDiv {
    width: 50%;
    height: 60px;
}
.inputsGenderDiv {
    width: 50%;
    height: 60px;
    margin-top: 0.5px;
}
#avatarInputBTN {
    border-radius: 5px;
    box-shadow: 1px 1px;
    width: 153px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #999;
}
img {
    width: 150px;
    height: 150px;
    opacity: 100%;
    background-image: url(../../../assets/images.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#avatarinput {
    display: none;
}
#orderLBLfont, #userLBLfont {
    color: black;
    font-size: 12px;
}
.LBLCurrent-Kilometrage-positioning {
    position: relative;
    right: 235px;
}
#invalid-feedback-Current-Kilometrage {
    position: relative;
    left: 10px;
}
.imgPreviewCarDiv {
    position: absolute;
    left: 70.5%;
    bottom: 62%;
    width: 152px;
    height: 180px;
}
.imgCar {
    width: 150px;
    height: 150px;
    opacity: 100%;
    background-image: url(../../../assets/default_car.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.spacerCarDiv {
    height: 50px;
}

.LBL-positioning {
    position: relative;
    right: 260px;
}
.LBL-Car-Id-positioning {
    position: relative;
    right: 270px;
}
.LBL-Car-Type-Id-positioning {
    position: relative;
    right: 260px;
}
.LBL-Current-Kilometrage-positioning {
    position: relative;
    right: 235px;
}
.LBL-Usability-positioning {
    position: relative;
    right: 265px;
}
.LBL-Availability-positioning {
    position: relative;
    right: 260px;
}
.LBL-Vehicle-Identification-Number-positioning {
    position: relative;
    right: 210px;
}
.LBL-branch-positioning {
    position: relative;
    right: 270px;
}

#invalid-feedback-Current-Kilometrage-Required {
    position: relative;
    left: 20px;
}
#invalid-feedback-Current-Kilometrage-numbers-only {
    position: relative;
    left: 45px;
}
#invalid-feedback-Usability-Required {
    position: relative;
    left: 20px;
}
#invalid-feedback-Usability-Letters-only {
    position: relative;
    left: 45px;
}

#valid-feedback-Usability-Okay {
    position: relative;
    left: 90px;
}
#invalid-feedback-Availability-required, #invalid-feedback-branch-required {
    position: relative;
    left: 210px;
}
#invalid-feedback-Availability-Letters-only, #invalid-feedback-branch-Numbers-only {
    position: relative;
    left: 230px;
}
#valid-feedback-Availability-Okay, #valid-feedback-Vehicle-Identification-Number-Okay, #valid-feedback-branch-Okay {
    position: relative;
    left: 250px;
}
#invalid-feedback-Vehicle-Identification-Number-required {
    position: relative;
    left: 150px;
}
#invalid-feedback-Vehicle-Identification-Number-Numbers-only {
    position: relative;
    left: 220px;
}
.imgPreviewCarTypeDiv {
    position: absolute;
    left: 70.5%;
    bottom: 62%;
    width: 152px;
    height: 180px;
}
#adminMenuBTN span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#adminMenuBTN span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#adminMenuBTN:hover span {
    padding-right: 25px;
}
#adminMenuBTN:hover span:after {
    opacity: 1;
    right: 0;
}
.flex-feedback {
    display: flex;
    flex-direction: row;
}
.spacerDiv {
    height: 40px;
}
.spacerDivflex {
    height: 55px;
}
.carFormContentDiv {
    position: relative;
    width: 100%;
    height: 635px;
    border-radius: 5px;
    background-color: #EAEAEA;
    box-shadow: 5px 5px;
    opacity: 0.95;
}
.btn-flex-container-add-car-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    top: 605px;
    border: black solid 1xp;
}
.btn-flex-container-add-car-form>button {
    height: 30px;
    width: 100%;
    border-radius: 7px;
    color: #007BFF;
    background-color: black;
}

.invalid-feedback {
    font-style: italic;
    font-size: 12px;
}
.valid-feedback {
    font-style: italic;
    font-size: 12px;
}

