<div class="flex-container">
    <div>
        <button id="adminMenuBTN" routerLink="/carsArea" routerLinkActive="active"> <span> Manage Cars </span> </button>
    </div>
    <div>
        <button id="adminMenuBTN" routerLink="/carTypesArea" routerLinkActive="active"> <span> Manage Types of Cars </span> </button>
    </div>
    <div>
        <button id="adminMenuBTN" routerLink="/usersArea" routerLinkActive="active"> <span> Manage Users </span> </button>
    </div>
    <div>
        <button id="adminMenuBTN" routerLink="/ordersArea" routerLinkActive="active"> <span> Manage Orders </span> </button>
    </div>
</div>

<div class="adminCoverDiv">
    <div class="adminDesktopDiv"></div>
    <br><br><br><br><br><br><br><br><br><br>
    <h1 class="welcomeh1"> Welcome ! </h1>
</div>