<div class="flex-container">
    <div>
        <h6 class="contactUsH">Contact Us</h6>
        <h6>Tel: +972-542-363-400</h6>
        <h6>Mon to Fri: 09:00 – 19:00</h6>
        <h6>Sat: 10:00 – 16:00</h6>
    </div>
    
    <div>
        <h6 class="openingHoursH">Opening Hours</h6>
        <h6>Mon to Fri: 07:00 – 17:00</h6>
        <h6>Sat: 06:00 – 13:00</h6>
    </div>
</div>



<div class="importantInfoDiv">
    <p class="impornantInfoMainP"> Important information </p>
    <p class="impornantInfoP"> To be eligible for one of our offers you will need to be over 18 and approved for credit
        with one of our
        verified lenders. • Not every applicant may be eligible. • Information and prices are correct at the time of
        publishing which is subject to change. • All vehicles listed are subject to manufacturing availability. •
        All data listed comes from CAP database and subject to change. • All offers are subject to
        availability/change and may be withdrawn at any time without prior notice. • Failure to maintain payments
        may result in the termination of your contract agreement and the vehicle being returned.</p>
</div>

<p class="copyRightP"> Rent 4 Wheels Leasing Company is a trading style of Select Contracts (IL) Limited and the
    firm is authorised and regulated by the Financial Conduct Authority FRN 670832. Rent 4 Wheels Leasing are a
    credit broker not a lender. VAT Registration No 181 8746 74. ICO Registration ZA076253. Company Number
    065690988. Rent 4 Wheels Leasing are proud to be a member of the IL Vehicle Rental and Leasing Association
    (BVRLA) No 1846. </p>
<p class="copyRightC"> Copyright 2020 Rent 4 Wheels Leasing. All Rights Reserved. </p>