<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/home" routerLinkActive="active" id="navBar"> <span> Home </span> </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false" id="navBar"> <span> Actions </span> </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/browseCarCatalogue" routerLinkActive="active"> <span> Browse Car Catalog </span> </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/discount" routerLinkActive="active"> <span> Discount </span> </a>
        </div>
    </li>

    <li class="nav-item" id="logInTab">
        <a class="nav-link active" routerLink="/administrationSignIn" routerLinkActive="active" id="navBar"> <span> Manage </span> </a>
    </li>
    <li class="nav-item" id="logInTab">
        <a class="nav-link active" routerLink="/login" routerLinkActive="active" id="navBar"> <span> Log In </span> </a>
    </li>
</ul>

