<div class="roadImgDiv">
    <div class="SubmitOrderDiv">
        <form class="form-inline" #SubmitOrderForm="ngForm">
            <h6>Fill in your order Details</h6>
            <hr>
            <div class="form-group">
                <div class="input-group-append">
                    <img class="btn" id="idBTNImg">
                </div>
                <input id="UserIdentificationNumberInput" type="text" pInputText
                    placeholder="User Identification Number" [(ngModel)]="order.userId"
                    class="form-control is-invalid is-valid" name="UserIdentificationNumber" required pattern="[0-9]+"
                    #UserIdentificationNumberInfo="ngModel" maxlength="50" minlength="9"
                    [ngClass]="{'is-invalid': UserIdentificationNumberInfo.errors && UserIdentificationNumberInfo.touched, 'is-valid': UserIdentificationNumberInfo.valid}"
                    (blur)="GetUser(order.userId!)">
                <div class="invalid-feedback" id="invalid-feedback-UserIdentificationNumber-Required"
                    [hidden]="!UserIdentificationNumberInfo.errors?.required">
                    User Identification Number Required
                </div>
                <div class="invalid-feedback"
                    id="invalid-feedback-UserIdentificationNumber-Must-be-9-characters-AND-Numbers-only"
                    [hidden]="!UserIdentificationNumberInfo.errors?.minlength && !UserIdentificationNumberInfo.errors?.pattern">
                    Must be 9 characters / Numbers Only
                </div>
                <div class="valid-feedback" id="valid-feedback-UserIdentificationNumber-ok"
                    [hidden]="UserIdentificationNumberInfo.invalid">
                    Okay!
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" type="button"></button>
                    </div>
                    <input id="startDate" type="date" placeholder="Start Date"
                        [(ngModel)]="order.startDate" class="form-control is-invalid is-valid" name="dp-startDate"
                        required #startDateInfo="ngModel"
                        [ngClass]="{'is-invalid': startDateInfo.errors && startDateInfo.touched, 'is-valid': startDateInfo.valid}">
                    <div class="invalid-feedback" id="invalid-feedback-startDate-Required"
                        [hidden]="!startDateInfo.errors?.required">
                        Start Date Required
                    </div>
                    <div class="valid-feedback" id="valid-feedback-startDate-ok" [hidden]="startDateInfo.invalid">
                        Okay!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" type="button"></button>
                    </div>
                    <input id="EndDate" type="date" placeholder="End Date" [(ngModel)]="order.endDate"
                        class="form-control is-invalid is-valid" name="dp-endDate" required
                        #endDateInfo="ngModel"
                        [ngClass]="{'is-invalid': endDateInfo.errors && endDateInfo.touched, 'is-valid': endDateInfo.valid}">

                    <div class="invalid-feedback" id="invalid-feedback-endDate-Required"
                        [hidden]="!endDateInfo.errors?.required">
                        End Date Required
                    </div>
                    <div class="valid-feedback" id="valid-feedback-endDate-ok" [hidden]="endDateInfo.invalid">
                        Okay!
                    </div>
                </div>
            </div>
            <div class="flex-container-total">
                <div class="input-group-append">
                    <img class="btn" id="totalIMg">
                </div>
                <div class="p-inputgroup">
                    <input type="text" value="Total of {{TotalRentalDays(order.startDate!, order.endDate!)}} days"
                        pInputText placeholder="Total number of rental days" disabled="true">
                </div>
            </div>
            <div class="spacerDiv"></div>
            <div class="form-group">
                <div class="input-group-append">
                    <img class="btn" type="button" id="vinBTNImg">
                </div>
                <input id="VehicleIdentificationNumberInput" type="text" [(ngModel)]="vinLocalStorage"
                    class="form-control is-invalid is-valid flex-feedback" name="VehicleIdentificationNumber" required
                    pattern="[0-9]+" #VehicleIdentificationNumberInfo="ngModel"
                    placeholder="Vehicle Identification Number..." maxlength="50"
                    [ngClass]="{'is-invalid': VehicleIdentificationNumberInfo.errors && VehicleIdentificationNumberInfo.touched,'is-valid': VehicleIdentificationNumberInfo.valid}"
                    (blur)="GetCar(vinLocalStorage!)">
                <div class="invalid-feedback" id="invalid-feedback-Vehicle-Identification-Number-required"
                    [hidden]="!VehicleIdentificationNumberInfo.errors?.required">
                    Vehicle Identification Number is required
                </div>
                <div class="invalid-feedback" id="invalid-feedback-Vehicle-Identification-Number-Numbers-only"
                    [hidden]="!VehicleIdentificationNumberInfo.errors?.pattern">
                    Numbers only
                </div>
                <div class="valid-feedback" id="valid-feedback-Vehicle-Identification-Number-Okay"
                    [hidden]="VehicleIdentificationNumberInfo.invalid">
                    Okay!
                </div>
            </div>

            <div class="flex-container-total">
                <div class="input-group-append">
                    <img class="btn" id="totalCostIMg" type="button">
                </div>
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="Total Cost" disabled="true"
                        value="{{CalculateTotalPrice()}}$" #priceInfo>
                </div>
            </div>
            <div class="warningPopUp">
                <ngb-alert class="mt-3 mb-0 ngbPopUP" type="info" [dismissible]="false"
                    [hidden]="!VehicleIdentificationNumberInfo.touched || VehicleIdentificationNumberInfo.errors">
                    Warning: there is a fee of {{carType.delayCost}}$ for every day you extend your rental period for
                    the selected car...
                </ngb-alert>
            </div>
        </form>
        <div class="btnDiv">
            <button pButton pRipple type="button" label="Submit" class="p-button-raised"
                [disabled]="SubmitOrderForm.form.invalid" (click)="SubmitOrder()"></button>
        </div>
    </div>

    <div class="carouselDiv">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" [style]="{'width':'550px','height':'500px'}">
                </div>
                <div class="carousel-caption">
                    <h3>Honda Civic</h3>
                    <p>Special offer.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" [style]="{'width':'550px','height':'500px'}">
                </div>
                <div class="carousel-caption">
                    <h3>Hyundai Tucson</h3>
                    <p>For a special experience for you and your family.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" [style]="{'width':'550px','height':'500px'}">
                </div>
                <div class="carousel-caption">
                    <h3>Hyundai Tucson</h3>
                    <p>Newest cars for the best experience.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>