<div class="porsheCoverDiv"></div>

<div class="blackDiv">
    <div class="directionsCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">directions_car</i>
        <h6 class="directionsCarDivHeader"> Drive a brand new vehicle </h6>
        <h6 class="directionsCarDivSubHeader"> All leasing makes and models </h6>
    </div>
    <div class="priceCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">attach_money</i>
        <h6 class="priceCarDivHeader"> Price match guaranteed </h6>
        <h6 class="priceCarDivSubHeader"> Industry leading competitive rates </h6>
    </div>
    <div class="hassleCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">thumb_up</i>
        <h6 class="hassleCarDivHeader"> Hassle-free leasing process </h6>
        <h6 class="hassleCarDivSubHeader"> Free delivery to your door </h6>
    </div>
    <div class="expertCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">star_rate</i>
        <h6 class="expertCarDivHeader"> Expert leasing consultants </h6>
        <h6 class="expertCarDivSubHeader"> Top rated on "TrustPilot" </h6>
    </div>
</div>

<p-gmap [options]="options" [style]="{'width':'100%','height':'350px'}"></p-gmap>

<div class="descriptionDiv">
    <div class="r4wDescription">
        <header>
            <div class="overlay">
                <h1>Simply The Best</h1>
                <h3>Thanks for Choosing Rent 4 Wheels</h3>
            </div>
        </header>
        <div class="pointersDiv">
            <li> Financing the purchase of a car </li>
            <li> Full insurance package available in Israel (AC/OC/NNW/KR) </li>
            <li> All-inclusive technical service </li>
            <li> Substitute car in case of a mechanical failure/accident </li>
            <li> Accident service (repair and cost management) </li>
            <li> Assistance in case of a mechanical failure/accident </li>
            <li> Seasonal tire change</li>
            <li> Car handling after the expiry of the contract </li>
            <li> Risk management of the value loss </li>
        </div>
    </div>
    <div class="carouselDiv">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[0]" alt="Random first slide" [style]="{'width':'550px','height':'500px'}">
                </div>
                <div class="carousel-caption">
                    <h3>Honda Civic</h3>
                    <p>Special offer.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[1]" alt="Random second slide" [style]="{'width':'550px','height':'500px'}">
                </div>
                <div class="carousel-caption">
                    <h3>Hyundai Tucson</h3>
                    <p>For a special experience for you and your family.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide" [style]="{'width':'550px','height':'500px'}">
                </div>
                <div class="carousel-caption">
                    <h3>Hyundai Tucson</h3>
                    <p>Newest cars for the best experience.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>