<div class="porsheCoverDiv"></div>

<div class="blackDiv">
    <div class="directionsCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">directions_car</i>
        <h6 class="directionsCarDivHeader"> Drive a brand new vehicle </h6>
        <h6 class="directionsCarDivSubHeader"> All leasing makes and models </h6>
    </div>
    <div class="priceCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">attach_money</i>
        <h6 class="priceCarDivHeader"> Price match guaranteed </h6>
        <h6 class="priceCarDivSubHeader"> Industry leading competitive rates </h6>
    </div>
    <div class="hassleCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">thumb_up</i>
        <h6 class="hassleCarDivHeader"> Hassle-free leasing process </h6>
        <h6 class="hassleCarDivSubHeader"> Free delivery to your door </h6>
    </div>
    <div class="expertCarDiv">
        <i class="material-icons" style="font-size:48px;color:white">star_rate</i>
        <h6 class="expertCarDivHeader"> Expert leasing consultants </h6>
        <h6 class="expertCarDivSubHeader"> Top rated on "TrustPilot" </h6>
    </div>
</div>

<p-gmap [options]="options" [style]="{'width':'100%','height':'350px'}"></p-gmap>

<div class="descriptionDiv"> 

</div>