<div class="carCatalogueCoverIMGDiv"></div>
<div class="searchBarDiv">
    <div class="s003">
        <form>
            <div class="inner-form">
                <div class="input-field second-wrap">
                    <select class="selectSearchType input-field second-wrap" id="selectOptionID" (change)="GetOptionValue($event)">
                        <option value="0">Search by</option>
                        <option value="1">Manufacturer</option>
                        <option value="2">Model</option>
                        <option value="3">Year of manufacture</option>
                        <option value="4">Gear Box</option>
                    </select>
                </div>
                <div class="input-field second-wrap">
                    <input id="search" type="text" placeholder="Choose an option and enter your search phrase..."
                        (change)="onTextChange($event)" />
                </div>
                <div class="input-field third-wrap">
                    <button class="btn-search" type="button">
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                            data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<table>
    <tr>
        <th> Image </th>
        <th> Manufacturer </th>
        <th> Model </th>
        <th> Manufacture Year </th>
        <th> Kilometrage </th>
        <th> VIN </th>
        <th> Branch </th>
        <th> GearBox </th>
        <th> Usability </th>
        <th> Availability </th>
        <th></th>
    </tr>
    <tr *ngFor="let c of allCars" tabindex="0">
        <td>
            <img src="{{ImageCarsURL + c.imageFileName!}}" width="100px" height="100px">
        </td>
        <td> {{c.manufacturer}} </td>
        <td> {{c.model}} </td>
        <td> {{c.yearOfManufacture}} </td>
        <td> {{c.kilometrage | number:""}} </td>
        <td> {{c.vin | vinFormat}} </td>
        <td> {{c.branchName}} </td>
        <td> {{c.gearBox | uppercase}} </td>
        <td> {{c.availability | uppercase}} </td>
        <td> {{c.usability | uppercase}} </td>
        <td><button pButton type="button" class="p-button-raised p-button-rounded" label="Order" routerLink="/discount"></button></td>
    </tr>
</table>

<div class="previousSearchDiv">
    <br>
    <p-carousel [value]="allCars" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="10000" [circular]="true">
        <ng-template let-car pTemplate="item">
            <div class="carouselCarShow">
                <br>
                <img [src]="images[0]" width="180px" height="180px">
            </div>
        </ng-template>
    </p-carousel>
</div>